* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333%;
}

.col-6 {
    width: 50%;
}

.row::after {
    content: '';
    display: table;
    clear: both;
}

.col div {
    background: green;
    color: white;
}